@page "/"

<PageTitle>Home</PageTitle>

<h1>User Management</h1>

<p>
    This is a very simple Blazor App to perform CRUD operations on User data and show Audit logs
</p>
<h3>Main features</h3>
<p>Uses Httpclient calls to UserManagement.API endpoints</p>
<p>Uses BlazorBootstrap package for extra components</p>
<p>Uses QuickGrid package for simple grid to display Audit data</p>
